# Python
__pycache__/
*.py[cod]
*.so

# Virtualenvs
venv/
ENV/
env/
.venv/
myvenv/

# Django
*.log
db.sqlite3
static/
staticfiles/
media/
!media/.gitkeep

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Tests/coverage
.coverage
htmlcov/
pytest_cache/

# Local env files
.env
.env.*
